data/examData.csv filter=lfs diff=lfs merge=lfs -text
data/mvParams.jl filter=lfs diff=lfs merge=lfs -text
data/oneOnEpsilonBlogs.csv filter=lfs diff=lfs merge=lfs -text
data/machine3.csv filter=lfs diff=lfs merge=lfs -text
data/mnistConv.bson filter=lfs diff=lfs merge=lfs -text
data/polynomialData.csv filter=lfs diff=lfs merge=lfs -text
data/purchaseDataImputed.csv filter=lfs diff=lfs merge=lfs -text
data/3featureData.csv filter=lfs diff=lfs merge=lfs -text
data/companyData.csv filter=lfs diff=lfs merge=lfs -text
data/fileList.txt filter=lfs diff=lfs merge=lfs -text
data/machine2.csv filter=lfs diff=lfs merge=lfs -text
data/jsonCode.json filter=lfs diff=lfs merge=lfs -text
data/L1L2data.csv filter=lfs diff=lfs merge=lfs -text
data/purchaseData.csv filter=lfs diff=lfs merge=lfs -text
data/svmlog.txt filter=lfs diff=lfs merge=lfs -text
data/ALL[[:space:]]CSV[[:space:]]FILES[[:space:]]-[[:space:]]2nd[[:space:]]Edition filter=lfs diff=lfs merge=lfs -text
data/earth.txt filter=lfs diff=lfs merge=lfs -text
data/flights.db filter=lfs diff=lfs merge=lfs -text
data/IQalc.csv filter=lfs diff=lfs merge=lfs -text
data/waterLines.txt filter=lfs diff=lfs merge=lfs -text
data/temperatures.csv filter=lfs diff=lfs merge=lfs -text
data/weightHeight.csv filter=lfs diff=lfs merge=lfs -text
data/fertilizer.csv filter=lfs diff=lfs merge=lfs -text
data/machine1.csv filter=lfs diff=lfs merge=lfs -text
data/mnistGAN40.bson filter=lfs diff=lfs merge=lfs -text
data/stars.png filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
